
<%= form_with(model: team, :class=> "team-form") do |f| %>
  <div class="errors-container">
    <% if team.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>
        <ul>
          <% team.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <% if league %>
    <%= f.hidden_field :league_id, value: league.id %>
  <%else%>
    <% league = League.all.map do |league|%>
      <%[league.name, league.id]%>
    <%end%>
    <% league.unshift(["None", nil]) %>
    <%= f.label :leagues%>
    <%= f.select :league_id ,league,:class=>"standar-input" %>
  <% end %>

  <%= f.label :fc %>
  <%= f.text_field :fc ,:class=>"standar-input" %> 
  
  <%= f.label :stadium %>
  <%= f.text_field :stadium, :class=>"standar-input" %> 

  <%= f.label :logo_url %>
  <%= f.text_field :logo_url, :class=>"standar-input" %> 
 
  <%= f.submit :class=>"standar-button"%>
<% end %>

