<div id="<%= dom_id team %>">
  <p>
    <strong>FC:</strong>
    <%= team.fc %>
  </p>

  <p>
    <strong>League:</strong>
    <%= team.league %>
  </p>

  <p>
  <strong>Stadium:</strong>
  <%= team.stadium %>
</p>
<%= image_tag(team.logo_url) %>

</div>

