<h1 style="text-align: center;">  Set Admin Account</h1>   
<%= form_for @user  , html: {:class=> "standar-form"} do |f| %>

    <div class="errors-container">
        <% if @user.errors.any? %>
            <div style="color: red">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this team from being saved:</h2>
                <ul>
                    <% @user.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
       <% end %>
    </div>
    
    <!-- <%= f.label :admin%> -->
    <!-- <%= f.check_box :admin, {}, true, false %> <br /> -->
    
    <%= f.hidden_field :admin, value: true %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "standar-input" %><br>
    
    <%= f.label :address%>
    <%= f.text_field :address, class: "standar-input" %><br>

    <%= f.label :coins%>
    <%= f.text_field :coins, class: "standar-input" %><br>

    <%= f.label :email %>
    <%= f.text_field :email,  class: "standar-input" %><br>

    <%= f.label :username %>
    <%= f.text_field :username,  class: "standar-input" %><br>

    <%= f.label :password %>
    <%= f.password_field :password ,  class: "standar-input"%><br>

    <%= f.label :confirm_password %>
    <%= f.password_field  :password_confirmation,  class: "standar-input"%><br>

    <%= f.submit :class=> "standar-button"%>
  <% end %>

