<section class="nav-bar">
<% user = User.find_by_id(session[:user_id]) %>
 <ul class="nav-bar-list">
   <%if session[:user_id] %>
      <li><%=link_to "Games" ,games_path, :class=>"nav-bar-link" %> </li>
      <li><%=link_to "Teams" ,teams_path , :class=>"nav-bar-link" %></li>
      <li><%=link_to "Create new game" ,new_game_path, :class=>"nav-bar-link" %> </li>
      <li><%=link_to "Create new Team" ,new_team_path , :class=>"nav-bar-link" %></li>
      <li><%=link_to "Leagues" ,leagues_path, :class=>"nav-bar-link" %> </li>
      <li><%=link_to "Log out" , '/signout', data: {turbo_method: :delete}, :class=>"nav-bar-link" %></li>
    <%else%>
      <li><%= link_to "Login" ,'/login' , :class=>"nav-bar-link" %></li>
    <% end %>
 </ul>
</section>