<!DOCTYPE html>
<html>
  <head>
    <title>Futbol Bet database</title>
    <%= favicon_link_tag 'futbol-backend.png' %> 
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="root" style="margin: 0px;"  data-controller='body' data-action="click->body#hide">
    <%= render "layouts/navbar" %>
    <%= yield %>
    <footer class="footer">
    </footer
  </body>

</html>
