<!DOCTYPE html>
<html>
  <head>
    <title>SoccerBetBackend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="root" style="margin: 0px;">
    <%= render "layouts/navbar" %>
    <%= yield %>
    <footer class="footer">
    </footer
  </body>
  <%=javascript_include_tag "controllers/navBar", "data-turbolinks-track" => true%>
</html>
